.headerWrapper {
    padding: 15px 50px;
    background-color: rgb(42, 8, 69);
    align-items: center;
    color: whitesmoke;
}
.row > div {
    width: fit-content;
}
.headerWrapper-Left {
    justify-content: center;
    flex-wrap: nowrap;
}
.logo {
    height: 55px;
    width: auto;
}
.logo-text {
    display: flex;
    align-items: center;
    padding: 0;
    color: antiquewhite;
    font-size: 2rem;
    font-weight: bold;
    font-style: oblique;
}
.Right > a {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.category-header {
    font-size: 1.2em;
    font-weight: 700;
}
.searchBar {
    position: relative;
}
.searchBar > input {
    padding: 10px;
    padding-left: 40px;
    height: 36px;
    width: 30rem;
    border-radius: 10px;
}

.searchBar > .searchIcon {
    position: absolute;
    left: 25px;
    top: 10px;
    color: black;
    font-size: medium;
}

.category {
    font-size: 21px;
    font-weight: 700;
}
